body {
  background-color: rgb(255, 255, 255);
}

/* FOOTER */
.text-center h5 {
  margin-bottom: 10px; 
  font-weight: bold;
}

/* HOME-PAGE */
.home-hero {
  font-size: 2rem; 
}

/* HOME PAGE 1ST PARAGRAPH */
.home-info1 {
  font-size: 30px;
}

/* HOME PAGE - OUR STORY */
.home-info2 {
  font-size: 30px;
}

/* HOME PAGE */
.see-menu-button a {
  font-size: 20px; 
}

/* HOME PAGE */
.homepage-eat-enjoy-repeat {
  font-size: 115px;
  margin-bottom: 20px;
  margin-top: -25px;
}

/* MENU PAGE */
.menu-filters {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
}

/* MENU PAGE */
.menu-filters button {
  background-color: rgb(233, 233, 233);
  color: #727272;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
}

/* MENU PAGE */
.menu-filters button.active {
  background-color: #007bff;
  color: #ffffff;
}


@media (max-width: 700px) {
  /* FOOTER */
  .text-center p {
    font-size: 16px;
  }
  
  /* FOOTER */
  .text-center h5 {
    margin-bottom: 1px;
    margin-top: 15px;
    font-size: 16px;
  }
  
  /* HOME PAGE */
  .home-hero div {
    font-size: 2rem; 
  }

  /* HOME PAGE 1ST PARAGRAPH & OUR STORY */
  .home-info1 p, .home-info2 p {
    font-size: 16px;
  }
  
  /* HOME PAGE */
  .see-menu-button a {
    font-size: 10px; 
  }

  /* HOME PAGE */
  .homepage-eat-enjoy-repeat {
    margin-bottom: 0px;
    margin-top: -17px;
  }

  /* HOME PAGE */
  .home-info2 strong {
    font-size: 20px;
  }
}




